@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: hsla(215,100%,0%,1);
    color: white;
    font-family: "Cougette",sans-serif;
}
section{
    width: 100%;
}
.b{
    border: 1ps solid gray;
}
.p{
    padding: 0.5rem;
}
/*master section*/
.ms{
    min-height: 100dvh;
}
/*flex coontroller/conytainer cross axis*/
.fcy{
    display: flex;
    flex-direction: column;

    /* align-items center:*/
    justify-content: center;


}
.fcx{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
.jsb{
    justify-content: space-between;
}
b
.box{
    width: 100%;
    max-width: 600px;
    min-height: 1rem;
    max-height: 10rem;
    border-radius: 5px;
    overflow: hidden;
}